body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	background: #fafafa;
	color: #333;
	min-width: 600px;
	min-height: 700px;
	overflow: hidden;
}

/* Scrollbars */
::-webkit-scrollbar {
	background: transparent;
	width: 8px;
}
::-webkit-scrollbar-button {
	background: transparent;
	height: 0px;
}
::-webkit-scrollbar-thumb {
	background: rgba(25,118,210,1.0);
	-webkit-border-radius: 8px;
	border-radius: 4px;
	cursor: pointer;
}
